html.solid {
   /* overflow: hidden;*/
}
.nasa .modal-dialog {
    width: 93%;
}
html.touchevents #body {
    position: relative !important;
    
}
html.solid body #rubix-nav-header {
}

html.touchevents #body > div {
    position: relative;
}
html.touchevents #body.phone {
   padding-top: 241px !important;
}
#sidebar.leave {
    top: 0;
}
#rover .rubix-panel-controls {
    display: none;
}
#rover {
    display: inline-block;
    margin-top: 27px; 
    margin-right: 17px;
    width: 293px;
}
.rubix-panel-container {
    margin-top: 27px;
}
@media (max-width: 320px){

}